body{
    font-family: 'Roboto Slab', serif;
    margin: 0%;
    padding: 0%;
}
.menu-bar{
    background-color: rgb(0, 0, 20);
    text-align: center;
    height: 80px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    font-size: 20px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
    background-color: #2bab0d;
    border-radius: 5px;
}
#manyproducts{
    text-decoration: none;
    background: black;
    color: white;
    border: none;
    font-size: 20px;
}
.second-section{
    display: flex;
}
.first-part{
    width: 50%;
    margin: 15px;
    padding-left: 10px;
}
.first-part img{
    width: 100%;
}
.first-part h1{
    font-size: 60px;
    margin-top: 200px;
    margin-left: 70px;
    color: gray;
}
.first-part h1 span{
    color: goldenrod;
}
.first-part p{
    text-align: justify;
    margin-left: 70px;
    margin-bottom: 70px;
    color: gray;
}
.first-part a{
    text-decoration: none;
    margin-left: 70px;
    background: linear-gradient(gold, tomato);
    padding: 20px 30px;
    font-size: 25px;
    color: white;
    border-radius: 25px;
}
.middle-banner{
    margin-top: 60px;
    background-image: url(picture/7.png);
}
.third-section{
    display: flex;
    height: 600px;
}
.second-part{
    width: 50%;
    margin: 15px;
}
.second-part img{
    height: 585px; width: 600px;
    margin-left: 50px;
}
.second-part h1{
    font-size: 50px;
    color: gray;
    margin-top: 130px;
    margin-left: 15px;
}
.second-part p{
    text-align: justify;
    margin-right: 110px;
    margin-bottom: 70px;
    margin-left: 15px;
    color: rgb(46, 45, 45);
}
.second-part button{
    background: linear-gradient(gold, tomato);
    border: none;text-decoration: none;
    padding: 20px 30px;
    font-size: 25px;
    color: white;
    border-radius: 25px;
    margin-left: 15px;
}
.third-part{
    text-align: center;
    color: gray;
    margin-top: 80px;
}
.third-part h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.third-part p{
    margin-left: 25%;
    margin-right: 25%;
}
.last-part{
    background-color: rgb(0, 0, 20);
    background-size: 1000px;
    text-align: center;
}
.fourth-section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box{
    width: 100%;
    justify-content: space-around;
    box-shadow: 5px 7px 40px gray;
    margin: 40px;
    border-radius: 40px;
    height: 600px;
    margin-bottom: 40px;
}
.box img{
    width: 300px;
    margin: 10% 12.5%;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
}
.box h1{
    margin-left: 30px;
    color: rgb(65, 65, 65);
    font-size: 35px;
    margin-top: 0%;
}
.box p{
    margin: 30px;
    text-align: justify;
    color: rgb(43, 43, 43);
}
#box-1{
    margin-top: 20px;
}
.last-box{
    display: flex;
    margin: 150px 150px;
    box-shadow: 5px 5px 40px gray;
    border-radius: 25px;
    text-align: center;
}
.last-box h1{
    margin: 80px 80px;
    font-size: 50px;
    color: rgb(17, 17, 17);
    padding-left: 50px;
}
.last-box small{
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    color: rgb(59, 59, 59);
}
.last-part h1{
    font-size: 40px;
    color: rgb(163, 163, 163);
    padding-top: 50px;
    margin-bottom: 45px;
    text-align: center;
}
.last-part span{
    color: goldenrod;
}
.last-part p{
    color: white;
    padding-bottom: 150px;